*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: 100vw;
    background-color: rgb(90, 8, 8);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.logo{
    width: 200px;
    font-size: 40px
}

ul{
    list-style: none;
    display: flex;
}

nav > ul > li {
    padding-left: 16px;
    font-weight: 600;
    height: 80px;
    padding: 25px;
}

nav > ul > li:hover{
    background-color: brown;
}

.hero {
    width: 100vw;
    height: 400px;
    background-image: url(pizza.jpg);
    background-size: 2000px;
    background-position: 30% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textodestaque {
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

main{
    width: 100vw;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

main > h2{
    font-size: 40px;
    color: darkgreen;
}

.linha{
    width: 80vw;
    height: 5px;
    background-color: black;
    margin: 20px 0;
}

main > p {
    font-size: 30px;
}

.cards{
    margin: 30px;
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 300px;
}

.cards img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.cards img:hover{
    opacity: 0.7;
}

.cards > .card > .info {
    background-color: rgb(163, 130, 86);
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.cards > .card > .info > .pizza {
    color: white;
    margin-bottom: 30px;
    font-size: 40px;
}

.cards > .card > .info > .preco {
    background-color: rgb(184, 161, 127);
    width: 250px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 25px;
}

main > a:link{
    display: inline-block;
    width: 200px;
    height: 60px;
    background-color: rgb(184, 161, 127);
    color: white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 600;
    transition: background-color 1s;
}

main > a:hover {
    background-color: rgb(90, 8, 8);
}

footer {
    width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(90, 8, 8);
    color: white
}

footer >.endereco {
    font-size: 30px;
}

.sociais ul{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sociais li{
    padding-left: 16px;
}